.DS_Store
html_folder/2025/ranking_page1.html
html_folder/2025/ranking_page2.html
html_folder/2025/ranking_page3.html
html_folder/2025/ranking_page4.html
html_folder/2025/ranking_page5.html
html_folder/2025/ranking_page6.html
html_folder/2025/ranking_page7.html
html_folder/all_time/ranking_page1.html
html_folder/all_time/ranking_page2.html
html_folder/all_time/ranking_page3.html
html_folder/all_time/ranking_page4.html
html_folder/all_time/ranking_page5.html
html_folder/all_time/ranking_page6.html
html_folder/all_time/ranking_page7.html
javdb_ranking_tool/.DS_Store
javdb_ranking_tool/modules/__pycache__/config_manager.cpython-313.pyc
javdb_ranking_tool/modules/__pycache__/config_reader.cpython-313.pyc
javdb_ranking_tool/modules/__pycache__/data_processor.cpython-313.pyc
javdb_ranking_tool/modules/__pycache__/excel_writer.cpython-313.pyc
javdb_ranking_tool/modules/__pycache__/html_parser.cpython-313.pyc
javdb_ranking_tool/modules/__pycache__/html_reader.cpython-313.pyc
javdb_ranking_tool/modules/__pycache__/local_scanner.cpython-313.pyc
javdb_ranking_tool/*.xlsx
javdb_ranking_tool/*.json
